# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.example

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Excel spreadsheet file and excel backup files
.xlsx
.xlsx.js

# microsoft Word Documents and backup files
.docx
.docx.js

# Visual Studio Code
.vscode

# Vercel
.vercel

# todo files
todo
todo.md
.md

#.md files
*.md

# Tests folder
tests

## Ignore the frontend build output
/frontend/dist

## ignore the backend build output
/backend/dist

## ignore whatsapp backup files, sessions, and cache
/backend/.wwebjs_cache
/backend/mordred_whatsapp_session

##ignore all folders starting with .
.*/

## .txt files
*.txt